<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis.properties">
    </properties>

    <typeAliases>
        <package name="pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/photography?useSSL=false"/>
                <property name="username" value="star"/>
                <property name="password" value="521521WEY"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <mapper resource="com/star/Mapper/UserMapper.xml"/>-->
        <package name="Mapper"/>
    </mappers>
</configuration>
<!--con.driver=com.mysql.cj.jdbc.Driver
con.url=jdbc:mysql://localhost:3306/photography?useSSL=false
con.username=star
con.password=521521WEY-->