<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper.AbnormalOrderMapper">

    <!--    根据订单号关键词或无条件查询异常订单-->
    <select id="selectAnOds" resultType="AbnormalOrder">
        select *  from abnormalorder
                  where
                  show_state=1
                        <if test="keyword!=null and keyword!='' ">
                             and order_num like #{keyword}
                        </if>

            ORDER BY order_time  DESC   limit #{currentPage},#{pageSize}
    </select>

<!--    根据班级关键词查询异常订单-->
    <select id="selectAnOdsByName" resultType="AbnormalOrder">
        SELECT  * from abnormalorder where  show_state=1 and stu_class like #{keyword}   ORDER BY order_time DESC  limit #{currentPage},#{pageSize}
    </select>

<!--   填写订单，生成一条反馈订单-->
    <insert id="insertFdbkOrder">
        insert into feedback (order_num, stu_num, stu_name, phone, time, feedbackContent)
        VALUES (#{order_num},#{stu_num},#{stu_name},#{phone},#{time},#{feedbackContent})
    </insert>

<!--    修改显示状态，逻辑删除异常订单-->
    <update id="deleteModifyShow_State">
        update abnormalorder set  show_state=0 where order_num
            in
            <foreach collection="order_nums" item="num" close=")" open="(" separator=",">
            #{num}
             </foreach>

    </update>

<!--    修改异常订单的处理状态-->
    <update id="updateOrderState">
        update abnormalorder set order_state=1 where order_num=#{order_num}
 </update>



</mapper>