<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper.FeedbackMapper">

<!--    逻辑删除-->
    <delete id="deleteFdbksByOrder_num">
        update feedback set show_state=0 where state=1 and  order_num in
                        <foreach collection="nums" open="(" close=")" item="num" separator=",">
                            #{num}
                        </foreach>

    </delete>


    <!--    根据订单号或者无条件分页查询反馈订单-->
    <select id="selectFdOds" resultType="pojo.Feedback">
        select *  from feedback
        where
            show_state=1
            <if test="keyword!=null and keyword!='' ">
                and order_num like #{keyword}
            </if>

        ORDER BY  state ASC,time  DESC  limit #{currentPage},#{pageSize}
    </select>


<!--    根据名字关键字查询反馈订单-->
    <select id="selectFdOdsByName" resultType="pojo.Feedback">
        SELECT  * from feedback where stu_name like #{keyword}  ORDER BY  state ASC,time  DESC  limit #{currentPage},#{pageSize}
    </select>


<!--   修改受理状态-->
    <update id="updateState">
        update feedback set state=1 where  order_num=#{order_num}
    </update>


<!--    添加反馈内容-->
    <update id="updatefdbkCon">
        update feedback set feedbackContent=#{newCon} where show_state=1 and order_num=#{order_num}
    </update>


</mapper>