<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper.OrderManageMapper">

    <!--添加order,并返回主键-->
    <insert id="insertOrder" >
        insert into orders
        values (#{order_num}, #{stu_num}, #{stu_name}, #{stu_class}, #{stu_money}, #{order_time}, #{order_state})
    </insert>


    <!--通过数组order_nums修改订单状态,逻辑删除-->
    <update id="updateStateByOrder_nums" >
        update orders
        set show_state=0
        where order_num in
        <foreach collection="nums" item="num" separator="," open="(" close=")">#{num}</foreach>
    </update>

</mapper>