<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper.PaylistMapper">

    <resultMap id="paylistMap" type="Paylist">
        <result column="class" property="stu_class"></result>
    </resultMap>

    <insert id="addPayList">
        insert into paylist
        values (#{stu_num},#{stu_name},#{time},#{state},#{stu_class},#{payment})
    </insert>

    <select id="selectByStu_num" resultMap="paylistMap">
        select * from paylist where stu_num like #{stu_num} and  show_state=1  limit  #{begin} , #{size}
    </select>


    <select id="selectByStu_name" resultMap="paylistMap">
        select * from paylist where stu_name like #{stu_name} and show_state=1  limit  #{begin} , #{size}
    </select>

</mapper>