<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mapper.PaylistMapper">

<!--    通过state=1来添加订单信息-->
    <insert id="addOrderByState">
        insert into orders(order_num, stu_num, stu_name, stu_class, stu_money, order_time)
        values (#{order_num}, #{stu_num}, #{stu_name}, #{stu_class}, #{stu_money}, #{order_time})
    </insert>


<!--    通过state=0来添加异常记录-->
    <insert id="addAbnormalOrderByState">
        insert into abnormalorder(order_num, stu_num, stu_name, stu_class, stu_money, order_time)
        values (#{order_num}, #{stu_num}, #{stu_name}, #{stu_class}, #{stu_money}, #{order_time})
    </insert>


    <!--    添加缴费名单-->
    <insert id="addPayList">
        insert into paylist(stu_num, stu_name, time, state, stu_class, payment)
        values (#{stu_num}, #{stu_name}, #{time}, #{state}, #{stu_class}, #{payment})
    </insert>

    <!--    根据学号模糊查询-->
    <select id="selectByStu_num" resultType="Paylist">
        select *
        from paylist
        where stu_num like #{stu_num}
          and show_state = 1
        limit #{begin} , #{size}
    </select>


    <!--    根据姓名模糊查询-->
    <select id="selectByStu_name" resultType="Paylist">
        select *
        from paylist
        where stu_name like #{stu_name}
          and show_state = 1
        limit #{begin} , #{size}
    </select>

    <update id="updateShow_stateByStu_nums">
        update paylist set show_state=0 where state=0 and stu_num in
        (<foreach collection="array" item="stu_num" separator=",">#{stu_num}</foreach>)
    </update>

</mapper>